/*
tweek south park
rocko rockos modern life
taz invader zim
guy from daria
chowder
bobby hill
rigby regular show
marceline regular show
*/

body {
    background-color: none;
    /* hi */
}

#myHeader {
    color: green;
    border: 5px solid yellow;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.firstContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 20px;
    padding: 15px;
}

/*.firstContainer img {
    width: 250px;
    height: justify;
    
}*/

.secondContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;
}

/*.secondContainer img {
    width: 250px;
    height: justify;
}*/

.thirdContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;
}

.thirdContainer img {
    width: 250px;
    height: justify;
}

.fourthContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;
}

.fourthContainer img {
    width: 250px;
    height: justify;
}

.fifthContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;

    margin-left: 30px;
    margin-right: 20px;
}

.fifthContainer img {
    width: 250px;
    height: justify;
}

.sixthContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;
}

.sixthContainer img {
    width: 250px;
    height: justify;
}

.seventhContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;
}

.seventhContainer img {
    width: 250px;
    height: justify;
}

.eigthContainer {
    display: inline;
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 5px none;
    border-radius: 15px;

    margin: 30px;
    margin-top: -20px;
    padding: 15px;
}

.eigthContainer img {
    width: 250px;
    height: justify;
}

footer {
    color: lawngreen;
    background: green;
    text-align: center;
    position: absolute;

}