html {
    width:50%;
    margin: auto;
    font-size: 20px;
    background-color: black;
}

.container {
    padding: 25px;
    background-color: lightgray;
    border: 15px solid green;
}

.container h1 {
    background-color: black;
    color: white;
    padding: 25px;
    text-shadow: 5px 5px red;
    text-align: center;
    font-size: 2em;
}

.wrapper {
    padding: 25px;
    background-color: lightgray;
    border: 15px solid green;
}

.wrapper h2 {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 5px 5px red;
}

ul.list {
    background-color: black;
    color: white;
}

li.list {
    margin-top: -30px;
    line-height: 3;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

.box {
    padding: 25px;
    background-color: lightgray;
    border: 15px solid green;
}

.box h2{
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 1em;
}

.box p{
    background-color: black;
    color: white;
    padding: 25px;
    font-size: .75em;
    margin-top: -30px;

}

.leftText {
    text-align: left;
}
.rightText {
    text-align: right;
}
.underlineText{
    text-decoration: underline;
    text-align: left;
}
.overlineText {
    text-decoration: overline;
    text-align: center;
}